<div class="card shadow">
  <img class="card-img-top" src="{{ recipe.thumbnail.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
     Recipe for <strong>{{ recipe.title }}</strong>
    </h5>
    <div class="text-muted">
      {% if recipe.category == 'code-dish' %}
        <span class="badge badge-secondary">Dish</span>&nbsp;
      {% else %}
        <span class="badge badge-secondary">Snack</span>&nbsp;
      {% endif %}
      <small>{{ recipe.publish }}</small>
    </div>
    <p class="card-text">
      {{ recipe.description|linebreaks }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    {% for part in parts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a class="text-decoration-none text-dark" href="?page={{ forloop.counter }}">
        {% if page == forloop.counter %}
          &#127857;&nbsp;
        {% endif %}
        Part {{ part.part_number }} - {{ part.name }}
      </a>
      <span class="badge badge-secondary badge-pill">
        {% with part.procedures.count as total_procedures %}
          {{ total_procedures }} procedure{{ total_procedures|pluralize }}
        {% endwith %}
      </span>
    </li>
    {% endfor %}
  </ul>
</div>