{% extends "base.html" %}
{% load tasty_tags %}
{% block title %}{{ operation.name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-4 mb-4">
      {% recipe_card recipe=recipe page=page %}
    </div>
    <div class="col-xl-8">
      {% if recipe.category == 'code-dish' %}
        <div class="row">
          {% for part in childs %}
          <div class="col-xl-12 mb-3">
            <div class="card shadow">
              <div class="card-header">
                <h4>Part {{ part.part_number }} - {{ part.name }}</h4>
              </div>
              <div class="list-group list-group-flush">
              {% for procedure in part.procedures.all %}

                <div class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1 text-success">Procedure {{ procedure.procedure_number }}</h4>
                    {% if procedure.video_time %}
                      <small>{{ procedure.video_time }}</small>
                    {% else %}
                      <small>00:00</small>
                    {% endif %}
                  </div>
                  <p class="mb-1">
                    {{ procedure.content|markdown }}
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="row">
          {% for step in childs %}
          <div class="col-xl-12 mb-3">
            <div class="card shadow">
              <div class="card-header">
                <h4>Step {{ step.step_number }}</h4>
              </div>
              <div class="card-body">
                <p class="card-text">
                  {{ step.content|markdown }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="row mb-3 mt-3">
        <div class="col-md-12">
          {% include 'components/pagination.html' with objs=childs %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}