{% extends "base.html" %}

{% block title %}Tasty Coding{% endblock %}

{% block content %}
  <div class="row">
    {% for recipe in recipes %}
      <div class="col-xl-4">
        <div class="card shadow">
          <img class="card-img-top" src="{{ recipe.thumbnail.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
             Recipe for <strong>{{ recipe.title }}</strong>
            </h5>
            <div class="text-muted">
              {% if recipe.category == 'code-dish' %}
                <span class="badge badge-secondary">Dish</span>&nbsp;
              {% else %}
                <span class="badge badge-secondary">Snack</span>&nbsp;
              {% endif %}
              <small>{{ recipe.publish }}</small>
            </div>
            <p class="card-text">
              {{ recipe.description|truncatewords:9 }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ recipe.get_absolute_url }}" class="btn btn-sm btn-secondary">Open</a>
              </div>
              <small class="text-secondary">by {{ recipe.author }}</small>
            </li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row mb-4 mt-4">
    {% include 'components/pagination.html' with objs=recipes %}
  </div>
{% endblock %}