{% if recipe.category == 'code-dish' %}

  <div class="card">
    <img class="card-img-top"
         src="{{ recipe.thumbnail.url }}"
         alt="{{ recipe.title }}"
    >
    <div class="card-body">
      <h5 class="card-title">
        Recipe for <strong>{{ recipe.title }}</strong>
      </h5>
        <span class="badge badge-danger">Dish</span>&nbsp;
      <small>{{ recipe.publish }} by {{ recipe.author }}</small>
       <p class="card-text">
          {{ recipe.description }}
        </p>
    </div>


  </div>
{% endif %}