{% if objs.has_other_pages %}
  <div class="d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        {% if objs.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ objs.previous_page_number }}">
            &#128072;
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">
            &#128072;
          </a>
        </li>
        {% endif %}
        {% if objs.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ objs.next_page_number }}">
            &#128073;
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">
            &#128073;
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

  </div>
{% endif %}
