{% if is_welcome %}
<div class="container mb-3">
  <div class="row">
    <div class="col-md-12">
      <h1 class=" display-4">
        Welcome to Tasty Coding
      </h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <p class="lead text-secondary">
        If you believe coding is like cooking, Here you will find fantastic recipes
        from various <del>chef</del> {developer} how to make something fantastic out of code.
      </p>
      <hr>
    </div>
  </div>

</div>
{% endif %}